.container, .option, .filters {
    width: 100%;
    box-sizing: border-box;
}

.option, .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    padding: 0 1rem;
    margin: 0 0 1rem;
    flex-wrap: wrap;
}

.container {
    padding: 10px 15px 15px;
}

@media only screen and (min-width: 480px) {
    .container {
        padding: 20px 40px 40px;
    }   
}

@media only screen and (min-width: 1024px) {
    .container {
        padding: 40px 60px 60px;
    }   
}